body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f4f9;
}


.header {
  display: flex;
            align-items: center;
            padding: 20px;
            background-color: #f0f0f0;
}

.header-content {
  display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            max-width: 3000px;
            margin: 0 auto;
}

nav {
  display: flex;
            justify-content: center;
            gap: 20px;
            padding: 10px;
            background-color: #ddd;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  padding: 20px;
}

footer {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.feedback-container {
  width: 100%;
  float: none;
  clear: both;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 600px;
}

.feedback-container h2 {
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
  color: #6a1b9a; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  margin-top: -20px;
  text-align: center;
  border-bottom: 5px solid #6a1b9a;
  width: 550px;
}

.feedback-blob {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Sørger for at bilde og tekst er på samme linje */
  margin-bottom: 20px; /* Legger til litt plass mellom tilbakemeldingene */
  justify-content: space-between; 
  border-bottom: 5px solid #6a1b9a; /* Eksempel: grå linje, 1 piksel tykk */
  padding-bottom: 20px; /* Legger til litt plass under teksten og over linjen */
  margin-bottom: 20px;
}

.feedback-blob img {
  max-width: 100px; /* Sett ønsket bredde */
  max-height: 100px; /* Sett ønsket høyde */
  object-fit: cover; /* Dette sikrer at bildet dekker området ordentlig uten å miste aspektforholdet */
  border-radius: 50%;
  margin-right: 20px;
}

.feedback-text {
  flex-grow: 1; 
  display: flex !important;
  align-items: center !important;
}

.image-container {
  width: 100px; /* Legg til ønsket bredde her */
  height: 100px; /* Legg til ønsket høyde her */
  border-radius: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.button-link {
  display: inline-block; 
  background-color: #6a1b9a; 
  color: white;
  padding: 10px 15px; 
  margin: 5px; 
  border: none; 
  border-radius: 4px;
  text-decoration: none; 
  font-size: 16px; 
  text-align: center;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button-link:hover {
  background-color: #7e57c2; 
}

.navigation {
  display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; 
    padding-top: 10px;
    align-items: center;
}

hr {
  width: 100vw; 
  border: 0;
  height: 2px;
  background-color: #6a1b9a;
  margin-top: 0;
  margin-bottom: 0;
}

.overskrift {
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
  color: #6a1b9a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  justify-content: center;
}

.search-bar {
  display: flex;
  float: right;
  align-items: center;
  margin-right: auto;
  margin-right: -300px;
}

.search-bar input {
  padding: 7px;
  margin-right: 10px; 
}

.search-bar button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.fancy-button {
  width: 100%;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-top: -40px;
}

.fancy-button:hover {
  background: linear-gradient(180deg, #7e57c2, #6a1b9a); /* Endre gradient ved hover for en gloss-effekt */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.about-section {
  width: 100%;
  float: none;
  clear: both;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50p
}

.about-content {
padding: 20px;
width: 600px !important;
position: relative;
right: 30px;
margin-bottom: 100px;
margin-top: -10px;
}


.about-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
  color: #6a1b9a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  text-align: center;
}

.about-content p {
  font-size: 16px;
  margin-bottom: 0px;
  
}

.about-content h2 {
  border-bottom: 4px solid #6a1b9a; /* Tykkelse og farge på linjen */
  padding-bottom: 10px; /* Litt plass under overskriften før linjen */
  margin-bottom: 0px; /* Avstand fra linjen til neste element */
}

.about-content p:last-child {
  border-bottom: 2px solid #6a1b9a; /* Tykkelse og farge på linjen */
  padding-bottom: 10px; /* Litt plass under paragrafen før linjen */
  margin-bottom: 0px; /* Avstand fra linjen til neste element */
}

.about-content, .contact-info {
  margin-bottom: 0px;
}

.contact-info {
  margin-top: 50px;
}

.about-content h2, .contact-info h2 {
  font-size: 24px;
  color: #6a1b9a;
  margin-bottom: 0px;
}


.feedback-blob1 img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Dette sikrer at bildet dekker området ordentlig uten å miste aspektforholdet */
  margin-right: 20px;
  border-radius: 50%;
}

.feedback-blob1 {
  display: grid;
  grid-template-columns: 100px auto; /* 100px for bildet og resten for teksten */
  gap: 20px; /* Plass mellom bilde og tekst */
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 5px solid #6a1b9a; /* Eksempel: grå linje, 1 piksel tykk */
  padding-bottom: 20px; /* Legger til litt plass under teksten og over linjen */
  margin-bottom: 20px;
}

.feedback-text {
  flex-grow: 1;
}

.feedback-text1 {
  margin-top: 20px;
}

.feedback-text4 {
  margin-top: 20px;
}

#logo {
  max-width: 300px; 
  margin-right: 10px;; 
}

.feedback-container:last-child > .feedback-blob:last-child, 
.feedback-container:last-child > .feedback-blob1:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.form-field {
  margin-bottom: 0px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  color: #6a1b9a;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field textarea {
  height: 60px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #6a1b9a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.slider-container {
  position: absolute;
  top: 250px;
  right: 150px;
}

.image-slider img {
  max-width: 100%;
  display: none; /* Gjemmer bildene som standard */
}

.image-slider img.active {
  display: block; /* Viser det aktive bildet */
}

.image-slider {
  width: 700px; /* Eller den bredden du foretrekker */
  max-width: 100%; /* Juster dette for å passe designet ditt */
  margin: auto;
  overflow: hidden; /* For å holde alt rent om bildene er for store */
  margin-left: -100px;
  margin-top: 0px;
}

.everthing {
  width: 700px;
  
}

.membership-options {
  display: flex;
  justify-content: space-between; /* Fordeler boksene jevnt */
  flex-wrap: wrap; /* Tillater boksene å bryte til neste linje ved behov */
  gap: 20px; /* Gir mellomrom mellom boksene */
  margin-top: 150px;
}

.membership-option {
  background-color: #f0f0f0;
  border: 2px solid #6a1b9a;
  border-radius: 10px;
  padding: 20px;
  flex: 1; /* Fjern denne for å unngå at boksene strekker seg for mye */
  min-width: 250px; /* Juster denne for å kontrollere boksenes minimumsbredde */
  margin: 10px; /* Gir litt mellomrom rundt hver boks */
  box-sizing: border-box; /* Sikrer at padding og border inkluderes i bredden */
  display: flex;
  flex-direction: column; /* Organiserer innholdet vertikalt */
  align-items: center; /* Sentrerer innholdet i boksen */
}

.membership-option h2, .membership-option p {
  text-align: center;
  color: #6a1b9a; /* Lilla farge for tekst */
}

.membership-option button {
  background-color: #6a1b9a; /* Endrer knappefargen til å matche de andre knappene */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  width: auto; /* Justerer knappens bredde basert på innholdet */
}

.membership-option button:hover {
  background-color: #7e57c2;
}

.membership-option h2, .membership-option p, .membership-option button {
  text-align: center; /* Sentrerer innholdet i boksene for en mer uniform utseende */
}

.facility-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Fordeler boksene jevnt og med mellomrom */
  gap: 20px; /* Mellomrom mellom boksene */
  margin-top: 50px;
}

.facility-box {
  flex: 1; /* Lar boksene fylle tilgjengelig plass, men med en min- og maksbredde */
  min-width: 250px; /* Minimumsbredde for å sikre lesbarhet */
  max-width: calc(33.333% - 40px); /* Maksbredde for å sikre at boksene ikke blir for brede, minus gapet */
  border: 2px solid #6a1b9a; /* Stilfull grense som matcher temaet */
  border-radius: 10px; /* Avrundede hjørner for en mykere utseende */
  padding: 20px; /* Plass inni boksene */
  box-sizing: border-box; /* Inkluderer padding og border i totalbredde */
  background-color: #f0f0f0; /* Lys bakgrunnsfarge */
}

.facility-box h2 {
  color: #6a1b9a; /* Tilpasset farge for overskriftene */
  margin-top: 0;
}


@media (max-width: 1100px) {
  .info-box1, .text-block {
    flex-basis: 100%; /* Tvinger elementene til å oppta full bredde og dermed bryte til neste linje */
    width: 100%; /* Sørger for at de tar opp full bredde */
  }
}

.info-box1 {
  float: right;
  
  border: 2px solid #6a1b9a; /* Lilla grense som matcher temaet */
    border-radius: 10px; /* Avrundede hjørner */
    padding: 20px;
    margin-bottom: 20px; /* Mellomrom mellom hver info-boks */
    background-color: #f0f0f0;
    margin-top: -10px;
    box-sizing: border-box;
}

.info-box h1, .info-box h2{
  color: #6a1b9a; /* Lilla farge for overskrifter */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 50px;
  margin-top: 100px;
}

.info-box1 h2 {
  color: #6a1b9a; /* Lilla farge for overskrifter */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.info-box p {
  margin-left: 50px;
}

.text-block {
  order: 1; /* Sikrer at den første tekstblokken vises før kartet */
  width: 100%; /* Full bredde */
  margin-bottom: 20px; /* Skaper plass mellom tekst og kart */
}

.transport-info {
  margin-bottom: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 30%; /* Begrenser boksens bredde til maks 50% av containerens bredde */
  margin-left: 50px;
}

@media (max-width: 768px) {
  .transport-info {
    max-width: 100%; /* Lar boksene ta full bredde på små skjermer */
  }
}

.transport-info h3 {
  color: #6a1b9a;
}

.transport-info p, .transport-info a {
  color: #333;
}

.info-box4 {
  max-width: 1000px; /* Juster etter behov */
  margin: 20px auto; /* Sentrerer boksen og legger til litt vertikal plass */
  padding: 20px;
  background-color: #f0f0f0; /* Lys bakgrunnsfarge */
  border: 2px solid #6a1b9a; /* Lilla grense som matcher temaet */
  border-radius: 10px; /* Avrundede hjørner */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Legger til en subtil skygge for dybde */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 100px;
}

.info-box4 h2 {
  color: #6a1b9a; /* Tilpasset farge for overskriften */
  text-align: center; /* Sentrerer overskriften */
}

#floor-map {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 15px; /* Øker mellomrommet mellom pultene */
  width: 80%;
  margin: 20px auto; /* Senterer kartet og legger til vertikalt mellomrom */
  margin-top: 30px;
}

.desk {
  padding: 15px;
  background-color: #6a1b9a; /* Endrer fargen til lilla, som andre knapper på siden */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px; /* Avrundede hjørner */
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden; /* Forberedelse for gloss-effekt */
}

.desk::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,255,255,0.4), transparent 50%);
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  pointer-events: none;
}

.desk:hover::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.desk:hover {
  background-color: #7e57c2; /* Lysere lilla ved hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Legger til skygge for dybdeeffekt */
}

#confirmation {
  margin-top: 20px;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
}

/* Tilpass layout for mindre skjermer */
@media (max-width: 1200px) {
  #floor-map {
      grid-template-columns: repeat(5, 1fr); /* Reduserer antall kolonner til 5 for middels skjermer */
  }
}

@media (max-width: 480px) {
  #floor-map {
      grid-template-columns: repeat(2, 1fr); /* Reduserer antall kolonner til 2 for små skjermer */
  }

  .desk {
      padding: 10px; /* Justerer padding for å gi mer plass til tekst */
      font-size: 14px; /* Tilpasser fontstørrelsen for bedre lesbarhet på små skjermer */
  }
}

.Tilbakemeldinger2 {
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
  color: #6a1b9a; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  margin-top: 10px;
  text-align: center;
  margin-right: 70px;
}

.Tilbakemeldinger2 {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}


.feedback-blob3 img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Dette sikrer at bildet dekker området ordentlig uten å miste aspektforholdet */
  margin-right: 20px;
  border-radius: 50%;
}

.feedback-blob3 {
  display: grid;
  grid-template-columns: 100px auto; /* 100px for bildet og resten for teksten */
  gap: 20px; /* Plass mellom bilde og tekst */
  align-items: center;
  margin-bottom: 20px;
  width: 70%; 
  border-bottom: 5px solid #6a1b9a; /* Eksempel: grå linje, 1 piksel tykk */
  padding-bottom: 20px; /* Legger til litt plass under teksten og over linjen */
  margin-bottom: 20px;
  margin-left: 290px;
}

.feedback-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.feedback-blob2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Sørger for at bilde og tekst er på samme linje */
  margin-bottom: 20px; /* Legger til litt plass mellom tilbakemeldingene */
  justify-content: space-between; 
  border-bottom: 5px solid #6a1b9a; /* Eksempel: grå linje, 1 piksel tykk */
  padding-bottom: 20px; /* Legger til litt plass under teksten og over linjen */
  margin-bottom: 20px;
  width: 70%;
}

.feedback-blob2 img {
  max-width: 100px; /* Sett ønsket bredde */
  max-height: 100px; /* Sett ønsket høyde */
  object-fit: cover; /* Dette sikrer at bildet dekker området ordentlig uten å miste aspektforholdet */
  border-radius: 50%;
  margin-right: 20px;
}

.feedback-text1 {
  flex-grow: 1; 
  display: flex !important;
  align-items: center !important;
  margin-top: 20px;
}

.feedback-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 50%; /* Deler siden i to kolonner */
}

#leftFeedbackContainer {
  float: left;
  margin-top: -20px;
}

#rightFeedbackContainer {
  float: right;
  margin-top: -20px;
}

.feedback-text2 {
  flex-grow: 1; 
  display: flex !important;
  align-items: center !important;
}

.feedback-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* Starter med å plassere elementene på høyre side */
  gap: 20px; /* Mellomrom mellom tilbakemeldingsblokker */
  margin: 20px auto;
  max-width: calc(100% - 40px);
}

.feedback-blob2, .feedback-blob3 {
  flex: 1 1 auto;
  margin: 10px;
  box-sizing: border-box;
}

/* Tilpasser plasseringen når det er begrenset med plass */
@media (max-width: 768px) {
  .feedback-container2 {
    justify-content: center; /* Sentrerer elementene når skjermen er smal */
  }

  .feedback-blob2, .feedback-blob3 {
    flex-basis: 100%; /* Sørger for at blokkene tar full bredde og stables vertikalt */
  }
}

.overskrift-mindre {
  font-size: 20px; /* Mindre tekststørrelse */
  font-weight: bold;
  color: #6a1b9a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/* Stil for meny */
nav {
  float: right;
  position: relative;
}

/* Stil for menylenker */
nav a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

/* Stil for menylenker ved hover */
nav:hover ul {
  display: block;
}

/* Stil for undermenyen */
nav ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 0;
  margin-top: 0;
  margin-left: -30px;
  border: 1px solid #ccc;
}

/* Stil for undermenyen lenker */
nav ul li {
  display: block;
}

/* Juster stil for undermenyen lenker */
nav ul li a {
  display: block;
  padding: 10px;
  color: #000;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-right: 70px; /* Juster avstanden til høyre */
}

.menu-button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 8px 16px; /* Redusert padding for å gjøre knappene mindre "feite" */
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Overgangseffekt for bakgrunnsfargeendring */
  margin-right: 10px; /* Legg til litt mellomrom mellom knappene */
}

.menu-button:hover {
  background-color: #7e57c2; /* Lysere lilla ved hover */
}

.dialog-container {
  visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #6a1b9a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dialog-content {
  text-align: center;
}

.dialog-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dialog-content button {
  width: auto;
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #6a1b9a;
  color: white;
  cursor: pointer;
}

.dialog-content button:hover {
  background-color: #7e57c2;
}

.info-box5 {
  border: 2px solid #6a1b9a;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto; /* Sentrer boksen horisontalt med litt toppmargin */
  background-color: #f0f0f0;
  box-sizing: border-box;
  width: fit-content; /* Du kan justere bredden etter behov */
  max-width: 80%; /* Juster maksimal bredde etter behov */
  text-align: center; /* Sentrer innholdet inni boksen */
  display: flex; /* Bruk flexbox for å kontrollere layout */
  flex-direction: column; /* Stakk elementene i kolonner */
  align-items: center;
  margin-top: 50px;
}

.info-box5 h1,
.info-box5 h2 {
  color: #6a1b9a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.info-box5 h1 {
  margin-left: 0; /* Nullstill venstremarginalen */
  margin-top: 0; /* Nullstill toppmarginalen */
}

.info-box5 .form-field {
  max-width: 100%; /* Juster maksimal bredde etter behov */
  margin: 0 auto; /* Sentrer inntastingsfeltet */
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .info-box5 {
    max-width: 90%; /* Reduser maksimal bredde for mindre skjermer */
  }
}

@media screen and (max-width: 1500px) {
  .header-content {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1900px) {
  .header-content {
      flex-direction: row;
  }

  .search-bar {
      margin-right: 10px; /* Legg til litt mellomrom mellom søkefeltet og knappene */
  }
}

.header-content p {
  margin-top: -15px !important;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  color: #6a1b9a;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1900px){
  .buttons-container {
      margin-right: -20px;
  }
}

@media screen and (min-width: 1900px){
  .search-bar {
      margin-left: -60px;
  }
}

@media (max-width: 1024px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%; /* Endret for å tilpasse seg mindre skjermer */
  }

  .search-bar {
    margin-left: 0; /* Nullstill venstremarginalen for søkefeltet */
    margin-top: 10px; /* Legg til litt mellomrom over søkefeltet */
  }
}

/* Mobil og mindre */
@media (max-width: 768px) {
  .header-content {
    padding: 10px; /* Reduser padding for mindre skjermer */
  }

  .header-content p {
    margin-top: 10px !important; /* Juster margin for å passe bedre på mindre skjermer */
    font-size: 16px; /* Reduser fontstørrelse for mindre skjermer */
  }

  .search-bar {
    margin-right: 0; /* Nullstill høyremarginalen for søkefeltet */
    margin-top: 10px; /* Legg til litt mellomrom over søkefeltet */
  }

  .buttons-container {
    margin-right: 0; /* Nullstill høyremarginalen for knappecontaineren */
    margin-top: 10px; /* Legg til litt mellomrom over knappecontaineren */
  }
}

